<div class="spotify-api-artists">
  {% if header %}
    <div class="header">
      {{ header }}
    </div>
  {% endif %}
  {% if artists %}
    <div class="artists">
      <ul>
        {% for artist in artists %}
          <li class="artist">{{ artist }}</li>
        {% endfor %}
      </ul>
    </div>
  {% else %}
    <div class="no-results">
      {{ no_results }}
    </div>
  {% endif %}
</div>
